@page
@model tbkk_AC.Pages.Networks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Network</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Network.NetworkName" class="control-label"></label>
                <input asp-for="Network.NetworkName" class="form-control" />
                <span asp-validation-for="Network.NetworkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Network.IpAddr" class="control-label"></label>
                <input asp-for="Network.IpAddr" class="form-control" />
                <span asp-validation-for="Network.IpAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Network.Note" class="control-label"></label>
                <input asp-for="Network.Note" class="form-control" />
                <span asp-validation-for="Network.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Network.Password" class="control-label"></label>
                <input asp-for="Network.Password" class="form-control" />
                <span asp-validation-for="Network.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Network.Status" class="control-label"></label>
                <input asp-for="Network.Status" class="form-control" />
                <span asp-validation-for="Network.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
