@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>

</p>
<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Car type
                        </th>
                        <th>
                            No.
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Path
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td id="c1" class="assets-modal" data-toggle="modal" data-target="#detailAssetsModal">
                            20 December 2019
                        </td>
                        <td id="c1" class="assets-modal" data-toggle="modal" data-target="#detailAssetsModal">
                            Minibus 6 seat
                        </td>
                        <td id="c1" class="assets-modal" data-toggle="modal" data-target="#detailAssetsModal">
                            1
                        </td>
                        <td>
                            20:00
                        </td>
                        <td>
                            BandSaen
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
