@page
@model tbkk_AC.Pages.Models.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Model.ModelID" />
            <div class="form-group">
                <label asp-for="Model.ModelName" class="control-label"></label>
                <input asp-for="Model.ModelName" class="form-control" />
                <span asp-validation-for="Model.ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Note" class="control-label"></label>
                <input asp-for="Model.Note" class="form-control" />
                <span asp-validation-for="Model.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Status" class="control-label"></label>
                <input asp-for="Model.Status" class="form-control" />
                <span asp-validation-for="Model.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Brand_BrandID" class="control-label"></label>
                <select asp-for="Model.Brand_BrandID" class="form-control" asp-items="ViewBag.Brand_BrandID"></select>
                <span asp-validation-for="Model.Brand_BrandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Category_CategoryID" class="control-label"></label>
                <select asp-for="Model.Category_CategoryID" class="form-control" asp-items="ViewBag.Category_CategoryID"></select>
                <span asp-validation-for="Model.Category_CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
